@()
@import controllers.uidyn._

<!DOCTYPE html>

<html>
    <head>
        <title>Dynamic UI</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    </head>
    <h1>Dynamic UI</h1>
    <body>
        <div id="msg"></div>
    </body>
</html>
